td.sla-report,
#slaBanner {
  width: 90px;
  text-align: center;
  border: 1px solid #bce8f1;
  color: #3a87ad;
  background-color: #d9edf7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

tr.green td.sla-report,
tr.hit td.sla-report,
#slaBanner.green {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

tr.red td.sla-report,
tr.ackd td.sla-report,
#slaBanner.red {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

tr.yellow td.sla-report,
#slaBanner.yellow {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

tr.ackd td.sla-report,
tr.hit td.sla-report {
  font-weight: bold;
}

#slaBanner {
  position:fixed;
  top: 63px;
  padding: 7px 7px 6px;
  z-index:10;
  text-align:center;
}

.dTreeNode.toptier {
  position: fixed;
  background: #f7f7f5;
  width: 100%;
  padding-top: 3px;
}

#dparentTree0 {
  padding-top: 28px;
}

#tableContent thead th {
  cursor: pointer;
}

table.customerToolkitHeader {
  position: relative;
}

table.customerToolkitHeader input.viewtickets {
  position: absolute;
  right: 0;
  top: -1px;
}