* {
  margin:0;
  padding:0;
}
body {
  font-family: sans-serif;
}
table.wikitable {
    background-color: #f9f9f9;
    border: 1px #aaa solid;
    border-collapse: collapse;
    color: black;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
    background-color: #f2f2f2;
    text-align: center;
}
table.wikitable > tr > th, table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 1px #aaa solid;
    padding: 0.2em;
}