@font-face {
    font-family: 'glyphish';
    src: url('chrome-extension://__MSG_@@extension_id__/gui/glyphish-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
}
iframe {
  border: 0;
  float: left;
}

iframe#frameMenu {
  margin-top: -30px;
  height: 55px;
  width: 100%;
}

iframe#nav {
  width: 225px;
  height: 100%;
  margin-left: 0;
  -webkit-transition: all 0.5s;
}
iframe#nav.hidden {
  margin-left: -226px;
}

iframe[name='content'] {
  width: -webkit-calc(100% - 225px);
  height: 100%;
  -webkit-transition: all 0.5s;
}
iframe[name='content'].fullwidth {
  width: 100%;
}

section#navbar {
  position: relative;
  float: left;
  background-color: #f1f1f1;
  border: 0 solid #dedede;
  border-right-width: 1px;
  -webkit-box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.1);
  width: 65px;
  height: 100%;
  z-index: 10;
}

section#navbar div {
  position: relative;
}

section#navbar .countbadge {
  background-color: #cb4437;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 3px;
  font: normal 10px Arial;
  color: #fff;
  line-height: 13px;
  min-width: 15px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  top: 0;
  -webkit-transform: scale(0.5, 0.5);
  opacity: 0;
  -webkit-transition: all 0.2s;
  box-shadow: 0px 1px 1px #fff, 0px -1px 0px rgba(0,0,0,0.2);
}

section#navbar .logo .countbadge {
  cursor: hand;
  background-color: rgb(192, 152, 83);
  top: 5px;
  min-width: 12px;
}

section#navbar .countbadge.activated {
  -webkit-transform: scale(1.0, 1.0);
  opacity: 1;
}

section#navbar #logo {
  width: 45px;
  margin: 10px 9px;
  cursor: hand;
}

section#navbar .button {
  display: block;
  font-family: glyphish;
  font-size: 50px;
  text-align: center;
  width: 65px;
  cursor: hand;
  text-decoration: none;
  margin-bottom: 5px;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  position: relative;
  z-index: 99;
  border-left: 0px;
  color: black;
}

section#navbar .button:hover,
section#navbar .button.active {
  opacity: 0.8;
  -webkit-transform: scale(1.15,1.15);
}

section#navbar .button.active:before {
  content: '';
  display: block;
  height: 100%;
  width: 5px;
  position: absolute;
  top: 0;
  left: 2px;
  background: black;
}

section#navbar .button.tickets {
  color: rgb(139, 26, 26);
}
section#navbar .button.tickets.active:before {
  background: rgb(139, 26, 26);
}

section#navbar .button.customers {
  color: rgb(26, 85, 139);
}
section#navbar .button.customers.active:before {
  background: rgb(26, 85, 139);
}

section#navbar .button.subs {
  color: rgb(84, 26, 139);
}
section#navbar .button.subs.active:before {
  background: rgb(84, 26, 139);
}

section#navbar .button.reports {
  color: rgb(26, 139, 31);
}
section#navbar .button.reports.active:before {
  background: rgb(26, 139, 31);
}

section#navbar .button.settings {
  bottom: 0;
  font-size: 40px;
  position: absolute;
  opacity: 0.2;
  color: rgb(85, 26, 139);
}
section#navbar .button.settings.active:before {
  background: rgb(85, 26, 139);
}

section#navbar .button.settings:hover,
section#navbar .button.settings.active {
  opacity: 0.6;
}

section#canvas {
  width: -webkit-calc(100% - 66px);
  float: left;
}

/* Parature sidebar */

body.leftBack {
  height: 100%;
  background: rgba(0,0,0,0.03);
  -webkit-box-shadow: rgba(0, 0, 0, 0.098) 0px 0px 1px 0px inset;
  margin: 0;
  padding: 0;
}

body.leftBack div#mainDiv {
  padding: 0;
}

body.leftBack div.folderBack div.dtree div.dTreeNode {
  height: auto;
}

body.leftBack .folderBack .dTreeNode img {
  display: none;
}

body.leftBack div.folderBack div.dtree div.dTreeNode a {
  display: block;
  padding: 5px;
}

body.leftBack div.folderBack div.dtree div.dTreeNode:hover {
  background: rgba(0, 0, 0, 0.03);
}

body.leftBack div.folderBack div.dtree div.dTreeNode:hover a {
  color: black;
}

body.leftBack table.title {
  display: none;
}

body.leftBack div.title {
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 24px 7px 7px;
  border: 0 !important;
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 18px;
  font-family: HelveticaNeue;
  position: relative;
}

body.leftBack div.title .tools {
  font-size: 9px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(255,255,255,0.5);
}

body.leftBack div.title .tools span {
  cursor: pointer;
  padding: 2px 3px;
  margin-left: 3px;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 3px;
}

body.leftBack div.title .tools span:hover,
body.leftBack div.title .tools span.active {
  color: white;
  border-color: rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.2);
}

body.leftBack .dTreeNode .itemCount {
  float: right;
  border: 1px solid rgb(188, 232, 241);
  color: rgb(58, 135, 173);
  background-color: rgb(217, 237, 247);
  text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px;
  -webkit-border-radius: 10px;
  padding: 4px;
  font-size: 11px;
  line-height: 10px;
  margin-top: -2px;
  min-width: 12px;
  text-align: center;
}
